# CODEOWNERS
# Note: more specific rules overrule wildcard
*        @rkuris @demosdemon @RodrigoVillar
/ffi     @rkuris @demosdemon @alarso16 @RodrigoVillar
/.github @rkuris @demosdemon @aaronbuchwald @RodrigoVillar
