name: publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-single-firewood-crate:
    name: publish-crate
    runs-on: ubuntu-latest
    # e.g., firewood/v0.2.0 or fireweood-storage/v0.2.0
    if: startsWith(github.event.release.tag_name, 'firewood') && contains(github.event.release.tag_name, '/v')
    steps:
      - uses: actions/checkout@v1
      - name: parse and validate tag
        id: parse_tag
        run: |
          set -exo pipefail

          TAG_REF="${GITHUB_REF#refs/tags/}"

          mapfile -t valid_tags < <(.github/scripts/cargo-release-tags.sh)

          for tag in "${valid_tags[@]}"; do
            if [[ "$TAG_REF" == "$tag" ]]; then
              echo "Tag $TAG_REF is valid, proceeding with publish"
              echo "FOUND_TAG=$tag" >> "$GITHUB_OUTPUT"
              echo "PACKAGE=${tag%%/*}" >> "$GITHUB_OUTPUT"
              exit 0
            fi
          done

          echo "FOUND_TAG=none" >> "$GITHUB_OUTPUT"
      - uses: dtolnay/rust-toolchain@stable
        if: steps.parse_tag.outputs.FOUND_TAG != 'none'
      - name: dry-run publish crate
        if: steps.parse_tag.outputs.FOUND_TAG != 'none'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_TOKEN }}
        # Will build the crate and verify its dependencies, but won't actually publish it. This is
        # a minor safety check to make sure the crate is publishable before we attempt to publish it
        # for real.
        run: cargo publish ${{ steps.parse_tag.outputs.PACKAGE }} --locked --dry-run
      - name: publish crate
        if: steps.parse_tag.outputs.FOUND_TAG != 'none'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_TOKEN }}
        # --no-verify since we just did a dry-run
        run: cargo publish ${{ steps.parse_tag.outputs.PACKAGE }} --locked --no-verify
