name: publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-firewood-crate:
    name: firewood-lib
    runs-on: ubuntu-latest
    if: startsWith(github.event.release.tag_name, 'v')
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dtolnay/rust-toolchain@7bb1479df4dc3e19ca9d98e09e189ab48a6ec762 # stable
      ## NOTE: keep these packages sorted in reverse topological order!
      ## cargo tree --workspace -e all | grep firewood
      - name: publish firewood-macros crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood-macros
      # TODO(demosdemon): detect when version is bumped and only publish then
      # - name: publish firewood-triehash crate
      #   continue-on-error: false
      #   run: |
      #     cargo login ${{ secrets.CARGO_TOKEN }}
      #     cargo publish -p firewood-triehash
      - name: publish firewood-storage crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood-storage
      - name: publish firewood crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood
      - name: publish firewood-replay crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood-replay
      - name: publish firewood-ffi crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood-ffi
      - name: publish firewood-fwdctl crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood-fwdctl
      - name: publish firewood-benchmark crate
        continue-on-error: false
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish -p firewood-benchmark
